
#percorsi di salvataggio delle strutture dati
path_utenti=./utenti.txt
path_posts=./post.txt
path_idposts=./idposts.txt
path_rewardcicle=./rewardcicle.txt
path_allposts=./allposts.txt
path_wallets=./wallets.txt
path_activities=./activities.txt

#porta del server
serverport=9888

#porta del multicast
multicastport=9777

#gruppo del multicast
multicastgroup=226.226.226.226

#porte per il servizio di registrazione e notifica
reg_port=39000
notify_port=39010

#porta per il servizio rmi
rmiport=9999

#host
host=localhost

#percentuale reward curatori e autori
curatorReward=30
authorReward=70

#parametri vari per i threads e altro
bufsize=65536
numthreads=7
terminationDelay=60000
dimCoda=100
sleep_time=10000

#tempo che trascorre tra un ciclo e l'altro di salvataggio in millisecondi
checkpoint_time=10000

#tempo che trascorre tra un ciclo di reward e l'altro in millisecondi
reward_sleep_time=100000